# Series

A Series represents a single column in a polars DataFrame.

### Parameters

1. name (str, default None)
   Name of the Series. Will be used as a column name when used in a DataFrame.
   When not specified, name is set to an empty string.

2. values (ArrayLike, default None)
   One-dimensional data in various forms. Supported are: Sequence, Series,
   pyarrow Array, and numpy ndarray.

3. dtype (DataType, default None)
   Data type of the resulting Series. If set to `None` (default), the data type is
   inferred from the `values` input. The strategy for data type inference depends
   on the `strict` parameter:

- If `strict` is set to True (default), the inferred data type is equal to the
  first non-null value, or `Null` if all values are null.
- If `strict` is set to False, the inferred data type is the supertype of the
  values, or :class:`Object` if no supertype can be found. **WARNING**: A full
  pass over the values is required to determine the supertype.
- If no values were passed, the resulting data type is :class:`Null`.

4. strict (bool, default True)
   Throw an error if any value does not exactly match the given or inferred data
   type. If set to `False`, values that do not match the data type are cast to
   that data type or, if casting is not possible, set to null instead.

5. nan_to_null (bool, default False)
   In case a numpy array is used to create this Series, indicate how to deal
   with np.nan values. (This parameter is a no-op on non-numpy data).

In [64]:
import polars as pl

### Create a series

In [63]:
s = pl.Series('numbers', [11, 22, 33, 44, 55], dtype=pl.Int8)  # Default Int64
print(s.dtype)
s

Int8

shape: (5,)
Series: 'numbers' [i8]
[
	11
	22
	33
	44
	55
]

### Get Series's Value(s)

In [62]:
print(s[0])
print(s[-1])

display(s[0:3].to_list())
# ====
display(list(s[0:3]))

display(s[0:3])
s[-3:-1]

100
127

[100, 22, 33]

[100, 22, 33]

shape: (3,)
Series: 'numbers' [i8]
[
	100
	22
	33
]

shape: (2,)
Series: 'numbers' [i8]
[
	33
	44
]

### Change Series's value

In [61]:
s[0] = 100
s[-1] = s[0] + 27  # 127 is Int8 maximum value
s

shape: (5,)
Series: 'numbers' [i8]
[
	100
	22
	33
	44
	127
]