In the context of data analysis and Pandas, "aggregate" refers to the process of summarizing or combining data to produce a single value or a set of values that represent a summary of the grouped data. Aggregation is commonly used to perform operations like computing sums, averages, counts, and other statistical measures on data groups.

### Key Concepts of Aggregation

1. **Grouping Data**:

   - Before aggregation, data is often grouped by one or more keys (columns) using the `groupby` function. This groups the data into subsets based on unique values in the specified columns.

2. **Applying Aggregation Functions**:

   - Aggregation functions are applied to each group to produce summary statistics or other combined values. Common aggregation functions include:
     - **Sum**: Adds up all values in the group.
     - **Mean**: Computes the average of the values in the group.
     - **Count**: Counts the number of occurrences in the group.
     - **Max**: Finds the maximum value in the group.
     - **Min**: Finds the minimum value in the group.
     - **Median**: Computes the median value in the group.
     - **Custom Functions**: Custom aggregation functions can be defined to perform specific calculations.

3. **Combining Results**:
   - After applying aggregation functions, the results are combined back into a DataFrame or Series that summarizes the original data according to the specified aggregation functions.

### Examples

1. **Basic Aggregation**:

   ```python
   import pandas as pd

   df = pd.DataFrame({
       'Category': ['A', 'B', 'A', 'B', 'A'],
       'Value': [10, 20, 30, 40, 50]
   })

   # Group by 'Category' and calculate the sum of 'Value'
   result = df.groupby('Category')['Value'].sum()
   print(result)
   ```

   Output:

   ```
   Category
   A    90
   B    60
   Name: Value, dtype: int64
   ```

   In this example, the `sum` function aggregates the 'Value' column for each 'Category', producing the total value for each category.

2. **Multiple Aggregations**:

   ```python
   # Group by 'Category' and calculate multiple statistics for 'Value'
   result = df.groupby('Category')['Value'].agg(['sum', 'mean', 'max'])
   print(result)
   ```

   Output:

   ```
             sum  mean  max
   Category
   A            90  30.0   50
   B            60  30.0   40
   ```

   Here, `agg` is used to apply multiple aggregation functions ('sum', 'mean', 'max') to the 'Value' column for each 'Category'.

3. **Custom Aggregation Function**:

   ```python
   # Define a custom aggregation function
   def range_func(x):
       return x.max() - x.min()

   # Group by 'Category' and apply the custom function
   result = df.groupby('Category')['Value'].agg(range_func)
   print(result)
   ```

   Output:

   ```
   Category
   A    40
   B    20
   Name: Value, dtype: int64
   ```

   The custom function `range_func` calculates the range (difference between the maximum and minimum) of 'Value' for each 'Category'.

### Summary

Aggregation is the process of summarizing grouped data to extract meaningful insights or statistics. By grouping data and applying aggregation functions, you can efficiently analyze and summarize large datasets, making it easier to understand and interpret the underlying trends and patterns.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('coffee.csv')

df

          day coffee_type  units_sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35