In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('Flavors.csv')
df.head(1)

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0

#### Rename columns

In [8]:
df = df.rename(columns=lambda col: col.lower().replace(' ', '_'))
df

,flavor,base_flavor,liked,flavor_rating,texture_rating,total_rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

#### Drop duplicates

In [15]:
# Cara simpel
df.drop_duplicates(subset=['base_flavor', 'liked'])

# ===

# Cara intuisi (ribet)
tmp = df[['base_flavor', 'liked']].duplicated()
tmp = tmp.drop(tmp.loc[tmp == False].index)

df.drop(index=tmp.index.to_list())

,flavor,base_flavor,liked,flavor_rating,texture_rating,total_rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7