In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame(
    [[1, 2], [4, 5], [7, 8]],
    index=['cobra', 'viper', 'sidewinder'],
    columns=['max_speed', 'shield']
)

df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

#### Single expression

In [44]:
df.query('shield > 4')
# ===
df.loc[df['shield'] > 4]

            max_speed  shield
viper               4       5
sidewinder          7       8

#### Multiple expressions

In [45]:
df.loc[(df['shield'] > 4) & (df['shield'] < 7)]
# ===
df.query('shield > 4 and shield < 7')
# ===
df.query('4 < shield < 7')

       max_speed  shield
viper          4       5