In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Flavors.csv')
df.head(1)

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0

#### Rename columns label

In [4]:
df = df.rename(columns=lambda col: col.lower().replace(' ', '_'))
df

,flavor,base_flavor,liked,flavor_rating,texture_rating,total_rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [5]:
# Specific column
df.groupby('base_flavor')['texture_rating'].mean()
# ===
# df.groupby('base_flavor').mean(numeric_only=True)['texture_rating']

base_flavor
Chocolate    7.233333
Vanilla      5.650000
Name: texture_rating, dtype: float64

In [6]:
# All columns with numeric dtype
df.groupby('base_flavor').mean(numeric_only=True)

             flavor_rating  texture_rating  total_rating
base_flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [7]:
df.groupby('base_flavor').count()

             flavor  liked  flavor_rating  texture_rating  total_rating
base_flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [8]:
# Note: for strings, it'll based on alphabetical order
# Why Chocolate liked is yes? It's because there is "No" in table for Chocolate
df.groupby('base_flavor').min()

                  flavor liked  flavor_rating  texture_rating  total_rating
base_flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [9]:
df.groupby('base_flavor').max()

                 flavor liked  flavor_rating  texture_rating  total_rating
base_flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [10]:
df.groupby('base_flavor').max(numeric_only=True)

             flavor_rating  texture_rating  total_rating
base_flavor
Chocolate              8.8             7.6          16.6
Vanilla               10.0             8.0          18.0

In [11]:
df.groupby('base_flavor').sum()

,flavor,liked,flavor_rating,texture_rating,total_rating
base_flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [12]:
df.groupby('base_flavor').sum(numeric_only=True)

             flavor_rating  texture_rating  total_rating
base_flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

#### Multi group

In [13]:
x = df.groupby(['base_flavor', 'liked']).mean(numeric_only=True)

display(x.index)
display(x)

MultiIndex([('Chocolate', 'Yes'),
            (  'Vanilla',  'No'),
            (  'Vanilla', 'Yes')],
           names=['base_flavor', 'liked'])

                   flavor_rating  texture_rating  total_rating
base_flavor liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [14]:
# Note: Order matters
df.groupby(['liked', 'base_flavor']).mean(numeric_only=True)

                   flavor_rating  texture_rating  total_rating
liked base_flavor
No    Vanilla                3.6        4.466667      8.066667
Yes   Chocolate              8.4        7.233333     15.700000
      Vanilla                7.8        6.833333     14.633333

#### Multi aggregation

Note: agg() and aggregate() are the same

In [15]:
# All columns
df.groupby('base_flavor').agg(['max', 'min'])
# ===
# df.groupby('base_flavor').aggregate(['max', 'min'])

                 flavor              liked      flavor_rating       \
                    max          min   max  min           max  min
base_flavor
Chocolate    Rocky Road    Chocolate   Yes  Yes           8.8  8.2
Vanilla         Vanilla  Cake Batter   Yes   No          10.0  2.3

            texture_rating      total_rating
                       max  min          max   min
base_flavor
Chocolate              7.6  7.0         16.6  15.2
Vanilla                8.0  3.4         18.0   5.7

In [16]:
# Specific columns
df.groupby('base_flavor').agg({
    # Use list atleast one column in order to make it uses 'MultiIndex'
    'texture_rating': ['min'],
    'flavor_rating': 'max',
    'total_rating': 'mean'
})

            texture_rating flavor_rating total_rating
                       min           max         mean
base_flavor
Chocolate              7.0           8.8        15.70
Vanilla                3.4          10.0        11.35

In [17]:
# With multi group
df.groupby(['base_flavor', 'liked']).agg({
    'texture_rating': 'mean',
    'flavor_rating': 'mean',
    'total_rating': ['count', 'min', 'max', 'sum', 'mean']
})

                  texture_rating flavor_rating total_rating                    \
                            mean          mean        count   min   max   sum
base_flavor liked
Chocolate   Yes         7.233333           8.4            3  15.2  16.6  47.1
Vanilla     No          4.466667           3.6            3   5.7   9.7  24.2
            Yes         6.833333           7.8            3  12.5  18.0  43.9


                        mean
base_flavor liked
Chocolate   Yes    15.700000
Vanilla     No      8.066667
            Yes    14.633333