In [2]:
import pandas as pd

#### Create a DataFrame

In [3]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### Specify Columns

In [4]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'])

df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### Specify Index

In [5]:
df = pd.DataFrame(
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    columns=['A', 'B', 'C'],
    index=['X', 'Y', 'Z']
)

df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

#### Get the first 'n' rows

In [6]:
df.head(2)

   A  B  C
X  1  2  3
Y  4  5  6

#### Get the last 'n' rows

In [7]:
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

#### Get sample of a DataFrame

In [8]:
df.sample(2)

   A  B  C
Z  7  8  9
X  1  2  3

#### Get column list

In [9]:
df.columns.tolist()

['A', 'B', 'C']

#### Get index list

In [10]:
df.index.tolist()

['X', 'Y', 'Z']

#### Print a concise summary information of a DataFrame.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, X to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

#### Get descriptive statistics of a DataFrame

In [12]:
desc_stats = df.describe()

print('Mean:')
print(desc_stats.mean())

display(desc_stats)

Mean:
A    3.75
B    4.50
C    5.25
dtype: float64

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

#### Get the shape of a DataFrame

In [13]:
df.shape

(3, 3)

#### Get total elements of a DataFrame

In [14]:
df.size

9

#### Get number of distinct elements in Y axis

In [15]:
df.nunique('index')

A    3
B    3
C    3
dtype: int64

#### Get number of distinct elements in X axis

In [16]:
df.nunique('columns')

X    3
Y    3
Z    3
dtype: int64

#### Get unique values of a column

In [17]:
df['A'].unique()

array([1, 4, 7])